.heading {
  color: black;
  text-align: left;
}

.DonationLog .container {
  text-align: left;
  padding-left: 0;
}

.DonationLog .container-fluid .row {
  display: flex; /* This ensures left alignment within the row */
}
